@{
    Layout = "_AdminLayout"; 
    ViewData["Title"] = "Admin Panel Ana Sayfa";
}

<h1>Reviel Admin Paneline Hoş Geldiniz</h1>
<p>Sol taraftaki menüden istediğiniz işlemleri gerçekleştirebilirsiniz.</p>
